<div>
    <page-title></page-title>
    <form ng-submit="loadReport()" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group">
                        <button class="btn btn-warning" ng-click="setThisWeek()">Load This Week</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger" ng-click="setThisMonth()">Load This Month</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="col-sm-4">
                <datetime ng-model="filter.fromDate" hide-time="true"></datetime>
            </div>
            <div class="col-sm-4">
                <datetime ng-model="filter.toDate" hide-time="true"></datetime>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default btn-block">Load Range</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-bordered table-responsive table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="Employee.FullName">
                        Employee Name
                    </th>
                    <th ts-criteria="Employee.Designation">
                        Designation
                    </th>
                    <th ts-criteria="NumberOfTrips" class="text-right">
                        Number of Trips
                    </th>
                    <th ts-criteria="TotalAllowance" class="text-right">
                        Total Allowance
                    </th>
                    <th ts-criteria="TotalSalary" class="text-right">
                        Total Salary
                    </th>
                    <th ts-criteria="TotalAdjustment" class="text-right">
                        Total Adjustment
                    </th>
                    <th ts-criteria="TotalPayable" class="text-right">
                        Total Payable
                    </th>
                </tr>
                <tr class="active">
                    <th>Total</th>
                    <th></th>
                    <td>{{total.NumberOfTrips}}</td>
                    <th ng-bind="total.Allowance | peso" class="text-right"></th>
                    <th ng-bind="total.Salary | peso" class="text-right"></th>
                    <th ng-bind="total.Adjustment | peso" class="text-right"></th>
                    <th ng-bind="total.Payable | peso" class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employeeSalary in employeeSalaries" ts-repeat>
                    <td ng-bind="employeeSalary.Employee.FullName"></td>
                    <td ng-bind="employeeSalary.Employee.Designation"></td>
                    <td>{{employeeSalary.NumberOfTrips}}</td>
                    <td ng-bind="employeeSalary.TotalAllowance | peso" class="text-right"></td>
                    <td ng-bind="employeeSalary.TotalSalary | peso" class="text-right"></td>
                    <td ng-bind="employeeSalary.TotalAdjustment | peso" class="text-right"></td>
                    <td ng-bind="employeeSalary.TotalPayable | peso" class="active text-right"></td>
                </tr>
            </tbody>
            <thead>
                <tr ng-if="employeeSalaries.length > 10" class="active">
                    <th>Total</th>
                    <th></th>
                    <td>{{total.NumberOfTrips}}</td>
                    <th ng-bind="total.Allowance | peso" class="text-right"></th>
                    <th ng-bind="total.Salary | peso" class="text-right"></th>
                    <th ng-bind="total.Adjustment | peso" class="text-right"></th>
                    <th ng-bind="total.Payable | peso" class="text-right"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
