<div>
    <h3>
        List of Employees
        <button type="button" ng-click="loadEmployees()" class="btn btn-default btn-sm pull-right"
                title="refresh employees' list">
            <i class="fa fa-lg fa-refresh"></i>
        </button>
    </h3>

    <table class="table table-hover table-responsive table-bordered" ts-wrapper>
        <thead>
            <tr>
                <th ts-criteria="FirstName|lowercase">First Name</th>
                <th ts-criteria="LastName|lowercase">Last Name</th>
                <th ts-criteria="Designation|lowercase">Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees track by employee.Id" ts-repeat>
                <td ng-bind="employee.FirstName"></td>
                <td ng-bind="employee.LastName"></td>
                <td ng-bind="employee.Designation"></td>
            </tr>
        </tbody>
    </table>
</div>