@{
    ViewBag.Title = "Clients";
}

<div ng-controller="clientController" class="row">
    <div class="col-md-4 col-lg-3">
        <h3>Add New Client</h3>
        <form ng-submit="addClient()">
            <div class="form-group">
                <label class="control-label">Client's Name</label>
                <input ng-model="addRequest.Name" type="text" class="form-control" placeholder="Client's Name" required />
            </div>
            <div class="form-group">
                <label class="control-label">Trucks per day</label>
                <input ng-model="addRequest.TrucksPerDay" type="number" class="form-control" placeholder="Trucks allocated per day" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-fw fa-lg fa-plus"></i> Add Client</button>
            </div>
        </form>
    </div>
    
</div>

<script type="text/javascript" src="~/Scripts/App/Client/clientService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Client/clientController.js"></script>