@{
    ViewBag.Title = "Clients";
}

<div ng-controller="clientController" class="row">
    
    
</div>

<script type="text/javascript" src="~/Scripts/App/Client/clientService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Client/clientController.js"></script>