<footer class="container small">
    <hr />
    <span class="small">&copy; @DateTime.Now.Year - SSI Group of Companies</span>
    <span class="small pull-right">Version @typeof(MvcApplication).Assembly.GetName().Version</span>
</footer>
