@{
    ViewBag.Title = "Home";
}

<!-- Truck -->
<script type="text/javascript" src="~/Scripts/App/Navigation/navigationModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Navigation/navigation.js"></script>

<script type="text/javascript" src="~/Scripts/App/Truck/truckModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Truck/truckService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Truck/addTruck.js"></script>
<script type="text/javascript" src="~/Scripts/App/Truck/truckStatusReport.js"></script>

<script type="text/javascript" src="~/Scripts/App/Client/clientModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Client/clientService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Client/clientList.js"></script>
<script type="text/javascript" src="~/Scripts/App/Client/addClient.js"></script>

<script type="text/javascript" src="~/Scripts/App/Employee/employeeModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Employee/employeeService.js"></script>

<script type="text/javascript" src="~/Scripts/App/Warehouse/warehouseModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Warehouse/warehouseService.js"></script>

<script type="text/javascript" src="~/Scripts/App/Trip/tripModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/Trip/tripService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Trip/orderTrip.js"></script>

<!-- Base -->
<script type="text/javascript" src="~/Scripts/App/trackTruckModule.js"></script>
<script type="text/javascript" src="~/Scripts/App/routeConfig.js"></script>

<div ng-app="trackTruck">
    <navigation username="'@User.Identity.Name'"></navigation>

    <ng-view></ng-view>
</div>
