<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Truck: @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-superhero.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/tablesort.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/track-truck.css" />
</head>
<body>
    <script type="text/javascript" src="~/Scripts/Lib/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/Lib/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/Lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Lib/underscore-min.js"></script>
    <script type="text/javascript" src="~/Scripts/Lib/angular-tablesort.js"></script>
    
    <script type="text/javascript" src="~/Scripts/Util/utilModule.js"></script>
    <script type="text/javascript" src="~/Scripts/Util/url.js"></script>
    <script type="text/javascript" src="~/Scripts/Util/repository.js"></script>
    <script type="text/javascript" src="~/Scripts/Util/globalMessageDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/Util/datetimeDirective.js"></script>

    <div class="container main-container">
        @RenderBody()
    </div>

    <footer class="container small">
        <hr />
        <span class="small">&copy; @DateTime.Now.Year - SSI Group of Companies</span>
        <span class="small pull-right">Version @typeof(MvcApplication).Assembly.GetName().Version</span>
    </footer>
    
</body>
</html>