<div>
    <div class="input-group" ng-class="{'input-group-sm': options.sm}" ng-click="state.isOpen=true">
        <input type="text"
               class="form-control"
               datetime-picker="{{hideTime ? dateFormat : dateTimeFormat}}"
               is-open="state.isOpen"
               ng-required="required"
               placeholder="{{options.placeholder}}"
               enable-time="!hideTime"
               close-on-date-selection ="hideTime"
               ng-model="ngModel" />

        <span class="input-group-btn">
            <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
</div>