@{
    ViewBag.Title = "Trucks";
}

<div>
    <add-truck></add-truck>
</div>
<div>
    <truck-status-report></truck-status-report>
</div>
<script type="text/javascript" src="~/Scripts/App/Truck/truckService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Truck/addTruck.js"></script>
<script type="text/javascript" src="~/Scripts/App/Truck/truckStatusReport.js"></script>

