@{
    ViewBag.Title = "Order trip";
}

<div ng-controller="orderTripController">
    <form ng-submit="order()" class="form-horizontal">
        <fieldset>
            <legend>
                <span class="col-sm-offset-2">Order a trip</span>
            </legend>
            <div class="well">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Who is the client?</label>
                    <div class="col-sm-10">
                        <select ng-model="client" ng-required="true"
                                ng-options="client.Name for client in clients"
                                class="form-control">
                            <option value=""> -- Choose Client -- </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">From where to pickup?</label>
                    <div class="col-sm-10">
                        <select ng-model="wirehouse" ng-required="true"
                                ng-options="wirehouse.Name for wirehouse in wirehouses"
                                class="form-control">
                            <option value=""> -- Choose 3PW -- </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">When to pickup?</label>
                    <datetime model="request.ExpectedPickupTime" required="true"></datetime>
                </div>
            </div>
            <div class="well">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Who will drive?</label>
                    <div class="col-sm-10">
                        <select ng-model="driver" ng-required="true"
                                ng-options="driver.Name for driver in drivers"
                                class="form-control">
                            <option value=""> -- Choose Driver -- </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">What is Driver's Payment?</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-xs-6">
                                <input ng-model="request.DriverAllowance" ng-required="true"
                                       type="number" min="0" placeholder="Driver's Allowance"
                                       class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input ng-model="request.DriverSalary" ng-required="true"
                                       type="number" min="0" placeholder="Driver's Salary"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Who will be helper?</label>
                    <div class="col-sm-10">
                        <select ng-model="helper" ng-required="true"
                                ng-options="helper.Name for helper in helpers"
                                class="form-control">
                            <option value=""> -- Choose Helper -- </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">What is Helpers's Payment?</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-xs-6">
                                <input ng-model="request.HelperAllowance" ng-required="true"
                                       type="number" min="0" placeholder="Helper's Allowance"
                                       class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input ng-model="request.HelperSalary" ng-required="true"
                                       type="number" min="0" placeholder="Helper's Salary"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <fieldset ng-disabled="!client">
                    <div ng-repeat="drop in request.Drops">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Where to drop?</label>
                            <div class="col-sm-10">
                                <select ng-model="drop.BranchId" ng-required="true"
                                        ng-options="branch.Id as branch.Name for branch in client.Branches"
                                        class="form-control">
                                    <option value=""> -- Choose Branch -- </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">When to drop?</label>
                            <div class="col-sm-10 row">
                                <datetime model="drop.ExpectedDropTime" required="true"></datetime>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 hidden-xs"></label>
                            <div class="col-sm-5 col-xs-6">
                                <label class=" control-label">DR Number</label>
                            </div>
                            <div class="col-sm-5 col-xs-6">
                                <label class="control-label">Number of Boxes</label>
                            </div>
                        </div>
                        <div ng-repeat="dr in drop.DeliveryReceipts" class="form-group">
                            <label class="col-sm-2 hidden-xs"></label>
                            <div class="col-sm-5 col-xs-6">
                                <input ng-model="dr.DrNumber" ng-required="true"
                                       type="text" min="0" placeholder="DR Number"
                                       class="form-control" />
                            </div>
                            <div class="col-sm-5 col-xs-6">
                                <input ng-model="dr.NumberOfBoxes" ng-required="true"
                                       type="number" min="1" placeholder="Number of Boxes"
                                       class="form-control" />
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Total <span ng-bind="request.Drops.length"></span> drop(s)</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-info btn-sm" ng-click="addDrop()">
                                <i class="fa fa-plus"></i>
                                Add Another Drop
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-success btn-block" type="submit" value="Put Order" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript" src="~/Scripts/App/Trip/tripService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Trip/orderTripController.js"></script>