@{
    ViewBag.Title = "Trips";
}

<div ng-controller="orderTripController">
    <form ng-submit="order()" class="form-horizontal">
        <fieldset>
            <legend>
                <span class="col-sm-offset-2">Order a trip</span>
            </legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Who is the client?</label>
                <div class="col-sm-10">
                    <select ng-model="client" ng-required="true"
                            ng-options="client.Name for client in clients"
                            class="form-control">
                        <option value=""> -- Choose Client -- </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">From where to pick</label>
                <div class="col-sm-10">
                    <select ng-model="wirehouse" ng-required="true"
                            ng-options="wirehouse.Name for wirehouse in wirehouses"
                            class="form-control">
                        <option value=""> -- Choose 3PW -- </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">When to pickup?</label>
                <datetime model="request.ExpectedPickupTime" required="true"></datetime>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Who will drive?</label>
                <div class="col-sm-10">
                    <select ng-model="driver" ng-required="true"
                            ng-options="driver.Name for driver in drivers"
                            class="form-control">
                        <option value=""> -- Choose Driver -- </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">What is Driver's Payment?</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-xs-6">
                            <input ng-model="request.DriverAllowance" ng-required="true"
                                   type="number" min="0" placeholder="Allowance"
                                   class="form-control" />
                        </div>
                        <div class="col-xs-6">
                            <input ng-model="request.DriverSalary" ng-required="true"
                                   type="number" min="0" placeholder="Salary"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Who will be helper?</label>
                <div class="col-sm-10">
                    <select ng-model="helper" ng-required="true"
                            ng-options="helper.Name for helper in helpers"
                            class="form-control">
                        <option value=""> -- Choose Helper -- </option>
                    </select>
                </div>
            </div>

            @*****************************@
            <div class="form-group">
                <label class="col-sm-2 control-label" for="FromWareHouseId">From</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="FromWareHouseId"
                           ng-model="request.FromWareHouseId" placeholder="from which warehouse?" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="ToBranchId">To</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="ToBranchId"
                           ng-model="request.ToBranchId" placeholder="to which branch?" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="NumberOfItems">Items#</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" min="0" name="NumberOfItems"
                           ng-model="request.NumberOfItems" placeholder="how many items?" />
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        <div class="input-group" ng-click="dateIsOpen=true">
                            <input class="form-control" type="text" is-open="dateIsOpen" datepicker-popup
                                   ng-model="request.DeliveryDate" ng-required="true" placeholder="on which day to deliver?" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Time</label>
                    <div class="col-sm-10">
                        <input class="form-control time-picker-input" type="number" min="0" max="23" ng-model="request.DeliveryHour" placeholder="hour" />
                        <input class="form-control time-picker-input" type="number" min="0" max="59" ng-model="request.DeliveryMinute" placeholder="minute" />
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-success btn-block" type="submit" value="Put Order" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript" src="~/Scripts/App/Trip/tripService.js"></script>
<script type="text/javascript" src="~/Scripts/App/Trip/orderTripController.js"></script>