<form>
    <div class="panel panel-info">
        <div class="panel-heading">
            Salary Adjustment
        </div>
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Adjustment</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adjustment in trip.Adjustments">
                    <td>
                        <input class="form-control input-sm" type="number"
                               ng-model="adjustment.Amount" />
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" ng-model="adjustment.Comment" />
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addNewAdjustment(trip)">
                            <i class="fa fa-plus"></i>
                            Adjustment
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-info">
                <i class="fa fa-lg fa-save"></i>
                Save
            </button>
            <!--ng-if="trip.Status=tripStatus.Delivered.id"-->
            <button type="button" class="btn btn-sm btn-success">
                <i class="fa fa-lg fa-check-square-o"></i>
                Save and archive
            </button>
        </div>
    </div>
</form>
