@{
    ViewBag.Title = "Sign In";
}


<form class="form-horizontal">

    <fieldset>
        <legend class="text-center"> Sign In</legend>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="Username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <div class="form-group row">
                    <div class="checkbox col-md-8">
                        <label>
                            <input type="checkbox"> Keep me signed in unless I sign out
                        </label>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>


</form>
