
.animate-out-right.ng-hide-add {
    -webkit-animation: 0.5s fadeOutRight ease;
    -moz-animation: 0.5s fadeOutRight ease;
    -ms-animation: 0.5s fadeOutRight ease;
    -o-animation: 0.5s fadeOutRight ease;
    animation: 0.5s fadeOutRight ease;
}

.animate-fade.ng-hide-remove {
    -webkit-animation: 0.5s fadeIn ease;
    -moz-animation: 0.5s fadeIn ease;
    -ms-animation: 0.5s fadeIn ease;
    -o-animation: 0.5s fadeIn ease;
    animation: 0.5s fadeIn ease;
}

.animate-fade.ng-hide-add {
    -webkit-animation: 0.5s fadeOut ease;
    -moz-animation: 0.5s fadeOut ease;
    -ms-animation: 0.5s fadeOut ease;
    -o-animation: 0.5s fadeOut ease;
    animation: 0.5s fadeOut ease;
}

.main-container {
    margin-top: 50px;
}

.global-message {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    -ms-opacity: .9;
    opacity: .9;
    z-index: 100;
}

.btn:focus {
    outline: none;
}

.message-box {
    min-height: 25px;
}

.hover-only-parent:not(:hover) .hover-only {
    visibility: hidden;
}

.fa.space-left {
    margin-left: 2px;
}

.fa.space-right {
    margin-right: 2px;
}

.fa.space {
    margin-left: 2px;
    margin-right: 2px;
}

.time-picker-input {
    display: inline-block;
    width: 100px;
    float: left;
    margin-right: 3px;
    text-align: center;
}

.pad-left {
    padding-left: 15px;
}

.attendance {
    /*Color based on bootstrap superhero theme*/
    background-color: #d9534f;
    text-align: center;
}

    .attendance.present {
        /*Color based on bootstrap superhero theme*/
        background-color: #5cb85c;
    }

.no-margin-top {
    margin-top: 0;
}

.action-col-2 {
    width: 81px;
}

.action-col-3 {
    width: 114px;
}

.trip-detail dl dt {
    text-align: left;
}

.transactions .panel-title a.accordion-toggle{
    cursor: default;
}

.transactions .panel-title .expand-collapse{
    cursor: pointer;
}

.transactions .panel-group > .panel {
    border-bottom: 3px solid #df691a;
}