.main-container {
    margin-top: 50px;
}

.fa.space-left {
    margin-left: 2px;
}

.fa.space-right {
    margin-right: 2px;
}

.fa.space {
    margin-left: 2px;
    margin-right: 2px;
}